.Friends {
    position: absolute;
    width: 168px;
    height: 24px;
    left: 187px;
    top: 799px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #800080;
}

.Terms {
    position: absolute;
    width: 159px;
    height: 24px;
    left: 187px;
    top: 843px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #800080;
}

.s {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 843px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #800080;
    height: 100px;
}

@media (min-width: 50px) and (max-width: 400px) {
    .Friends {

        position: absolute;
        width: 168px;
        height: 24px;
        left: 37px;
        top: 1170px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #800080;
    }

    .Terms {
        position: absolute;
        width: 159px;
        height: 24px;
        left: 37px;
        top: 1220px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #800080;
    }

    .s {
        top: 1300px;
        height: 100px;
    }
}