.Dashboard {
    position: absolute;
    width: 486px;
    height: 188px;
    left: 187px;
    top: 179px;
    background: #FFFFFF;
    box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.Frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 116px;
    height: 69px;
    left: 20px;
    top: 20px;
}

.Referral {
    width: 111px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #800080;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Priceframe1 {
    width: 116px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 100px;
    height: 69px;
    left: 198px;
    top: 20px;
}

.Total {
    width: 100px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #800080;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Priceframe2 {
    width: 18px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Frame3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 105px;
    height: 69px;
    left: 361px;
    top: 20px;
}

.Wallet {
    width: 105px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #800080;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Priceframe3 {
    width: 90px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Frame4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    position: absolute;
    width: 180px;
    height: 40px;
    left: 153px;
    top: 119px;
    background: #800080;
    border-radius: 20px;
}

.btn {
    width: 148px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ReferralCode {
    position: absolute;
    width: 358px;
    height: 105px;
    left: 766px;
    top: 179px;
}

.YourReferral {
    position: absolute;
    width: 228px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #800080;
}

.frem281 {
    box-sizing: border-box;
    position: absolute;
    width: 358px;
    height: 60px;
    top: 70px;
    border-radius: 10px;
    background-image: url(../../img/Frame281.png);
}

.EDCH54 {
    position: absolute;
    width: 230px;
    height: 30px;
    left: 70px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5em;
    color: #800080;
}

@media (min-width: 50px) and (max-width: 400px) {
    .Dashboard {
        position: absolute;
        width: 358px;
        height: 198px;
        left: 10px;
        top: 200px;
        background: #FFFFFF;
        box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    .Frame1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 116px;
        height: 69px;
        left: 20px;
        top: 20px;
    }

    .Referral {
        width: 111px;
        height: 21px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #800080;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .Priceframe1 {
        width: 116px;
        height: 48px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .Frame2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 100px;
        height: 69px;
        left: 238px;
        top: 20px;
    }

    .Total {
        width: 100px;
        height: 21px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #800080;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .Priceframe3 {
        width: 18px;
        height: 48px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .Frame3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 105px;
        height: 69px;
        left: 20px;
        top: 109px;
    }

    .Wallet {
        width: 105px;
        height: 21px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #800080;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .Priceframe2 {
        width: 90px;
        height: 48px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .Frame4 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 10px;

        position: absolute;
        width: 180px;
        height: 40px;
        left: 158px;
        top: 133px;
        background: #800080;
        border-radius: 20px;
    }

    .btn {
        width: 148px;
        height: 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .ReferralCode {
        position: absolute;
        width: 358px;
        height: 105px;
        left: 0px;
        top: 0px;
    }

    .YourReferral {
        position: absolute;
        width: 228px;
        height: 36px;
        left: 35px;
        top: 458px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #800080;
    }

    .frem281 {
        box-sizing: border-box;
        position: absolute;
        width: 358px;
        height: 60px;
        left: 10px;
        top: 503px;
        border-radius: 10px;
    }
}